*{
    padding: 0px;
    margin: 0;
    font-family: 'Poppins';
    border: 0px;
}/*
.circle {
    position: absolute;
    background-color: #649549;
    transform: translate(0% -50%, -50% 0%);
    height: 800px;
    width: 1000px;
    border-radius: 50%;
    opacity: 0.5;
    bottom: 30%;
    left: 33%;
    overflow: hidden;
    z-index: -1;
    shape-outside: ellipse(300px 500px at 100% 50%);
    
  }*/
.page1{
    background-color: #cfd1ce;
    position: relative;
}
 nav ul{
     width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    list-style: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}
nav{
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav li{
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    justify-content: space-around;
}
nav #one li{
    display: flex;
    justify-content: space-around;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li a:hover{
    color: gray;
    font-weight: bold;
}
nav span{
    padding-top: 0px;
    margin-top: 0px;
}
.street{
    padding: 20px;
    padding-left: 40px;
    width: 400px;
    display: flex;
    display: inline-block;
    flex-direction: row;
}
.food{
    color: #EAAB1B;
    padding: 8px;
}
h1{
    color: #6CB840;
    margin-left: 40px;
    padding: 0%;
}
h2{
    margin-left: 40px;
    padding-left: 0%;
}
h3{
    text-align: center;
}
h5{
    color: white;
    background-color: #6CB840;
    width: 80px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin: 30px;
    margin-left: 20px;
}
strong{
    font-size: 35px;
    margin-top: 0%;
    padding-top: 0%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.people{
    padding: 20px;
    background-color: rgb(245, 248, 245);
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.eating{
    width: 400px;
    height: 300px;
    text-align: center;
    padding-top: 50px;
}
.together{
    width: 400px;
    height: 300px;
    padding-top: 30px;
}
#tog{
    width: 400px;
    height: 300px;
}
.eating strong{
    color: #EAAB1B;
    opacity: 0.8;
}
.menu{
    display: flex;
    flex-direction: column;
    background-color: rgba(165, 155, 155, 0.86);
    width: 80%;
    height: 400px;
    margin-left: 30px;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-items: center;
    justify-content: center;
}
.menu ul li{
    width: 300px;
    height: 150px;
    padding: 0px;
    background-color: white;
    margin: 5px;
    position: relative;
    text-align: left;
    justify-content: left;
}
.menu img{
    height: 100px;
    width: 100px;
    float: left;
    bottom: 0px;
    left: 0px;
}
.explore{
    color: #6CB840;
    padding: 5px;
    width: 250px;
}
.hotdeals{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin-left: 30px;
}
.image{
    display: flex;
    flex-direction: row;
    height: 400px;
    border: 5px solid black;
}
.hoter{
    width: 300px;
    height: 300px;
}
.images{
    width: 300px;
    height: 400px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.image .hot2{
    width: 350px;
    height: 450px;
    margin-top: -100px;
    margin-right: 30px;
    padding-top: 0px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    padding-right: 0px;
}
.image .hot1{
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    padding-right: 0px;
    padding-left: 50px;
    margin-left: 30px;
    margin-right: 0px;
}
.contact{
    background-color: #FFD77C;
}
#email{
    border-radius: 30px;
}
footer #div{
    display: inline-block;
}