*{
    padding: 20px;
    margin: 0  ;
}

.page1{
    background-color: #cfd1ce;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    list-style: none;
}
li{
    width: 120px;
    padding: 15px;
    margin: 15px;
}
nav{
    text-align: center;
    padding-top: 45px;
}
.street{
    padding: 20px;
    padding-left: 40px;
    width: 400px;
}
.food{
    color: #EAAB1B;
    padding: 8px;
}
h1{
    color: #6CB840;
    margin-left: 40px;
    padding: 0%;
}
h2{
    margin-left: 40px;
    padding-left: 0%;
}
h5{
    color: white;
    background-color: #6CB840;
    width: 80px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin: 30px;
    margin-left: 20px;
}
strong{
    font-size: 35px;
}
.together{
    float: left;
    height: 350px;
    width: 350px;
}
.page2{
    padding: 20px;
    display: flex;
    display: inline-block
}
.menu{
    align-items: center;
    display: inline-block;
    background-color: rgba(240, 239, 239, 0.863);
    margin: 0px 30px 0px 50px;
}
img{
    height: 100px;
    width: 100px;
}
.explore{
    color: #6CB840;
    padding: 5px;
    align-content: center;
}
.hotdeals>img{
    width: 300px;
    height: 400px;
    float: left;
}
.hotdeals>.hot1{
    width:200px;
    height: 200px;
    position: relative;
    float: left;
}